h1 {
    color: red;
    text-align: center;
    font-weight: 600;
    font-size: 42px;
    padding: 60px 0;
}

h2 {
    color: red;
    text-align: center;
    font-size: 30px;
    padding: 60px 0;
}

button {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background: blueviolet;
    color: #fff;
    border-radius: 5px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    text-align: center;
}

.search-button {
    color: darkcyan;
    font-weight: bold;
}

.search-button:hover {
    color: #fff;
    background-color: darkcyan;
}

.weather-forecast {
    border: 1px solid darkcyan;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    max-width: 800px;
}